
.App {
  text-align: center;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board {
  border: 2px solid #333;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 2px;
  background-color: #f5f5f5;
  border-radius: 5px;
  width: 310px;
  height: 310px;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.square {
  background: #fff;
  border: 1px solid gray;
  border-radius: 1px;
  font-size: 48px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  width: 102px; 
  height: 102px; 
}
.square:not(.winning-square):not([disabled]):hover {
  background: rgba(237, 237, 237, 0.8);
}

[disabled]{
  opacity: 1;
  color: black;
}

.winning-square {
  background-color: #aaffaa;
}

.status {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.game-info {
  text-align: center; 
  margin-top: 20px;
  margin-left: 20px;
  padding: 20px 0;
  width: 300px; 
  overflow: hidden; 
  height: 478px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.game-info ol {
  list-style: none;
  padding: 0;
  margin: 10px 0px; 
  text-align: center;
  width: 100%
}

.game-info li {
  margin-bottom: 5px; 
}

.game-info button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.game-info button:hover {
  background-color: #0056b3;
}
